body {
  background-color: rgb(255, 255, 255);
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  margin: 0;
}

@font-face {
  font-family: "Inter";
  font-style: NORMAL; /* See note below */
  font-weight: 400;
  src: url(./fonts/Inter/Inter-VariableFont_opszwght.ttf);
}

html {
  font-family: Inter, sans-serif;
}


/* Perusnavigaatio */
.navbar {
  background-color: rgb(0, 78, 130);
  padding: 0;
  display: block;
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

/* Hamburger-painike */
.menu-btn {
  display: none;             /* Näkyy vain pienellä näytöllä */
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  width: inherit;
  text-align: left;
}

.menu-btn:hover {
  background-color: rgb(0, 54, 90);
}

/* Horisontaalinen navigaatio */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav-links li {
  float: none;
}

.nav-links li a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-links li a:hover:not(.active) {
  background-color: rgb(0, 54, 90);
}

@media screen and (min-width: 601px) {
    .nav-links li a {
        padding: 18px 24px;
        font-size: 18px;
    }

    h1 {
      font-size: 50px;
      height: auto;
      margin-top: 100px;
    }

    h2 {
      font-size: 40px;
      height: auto;
    }

    footer {
        padding: 16px;
        font-size: 18px;
    }
    
}

@media screen and (min-width: 1200px) {
    .nav-links li a {
        padding: 18px 34px;
        font-size: 18px;
    }

    footer {
        padding: 16px;
        font-size: 18px;
    }
    
}

.nav-links li a.active {
  background-color: rgb(0, 54, 90);
}

/* Pieni näyttö */
@media screen and (max-width: 600px) {

  /* Hamburger näkyviin */
  .menu-btn {
    display: block;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 28px;
    padding: 10px;
    width: 57px;
    text-align: center;
  }

  /* Oletuksena valikko piiloon */
  .nav-links {
    display: none;
    width: 100%;
  }

  /* Pystymallinen valikko */
  .nav-links li {
    float: none;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.3);
    font-size: 20px;
  }

  .nav-links li a {
    text-align: left;
    padding: 16px;
  }

  h1 {
    font-size: 35px;
    height: auto;
    margin-top: 60px;
  }

  h2 {
    font-size: 20px;
    height: auto;
  }

  footer {
    font-size: 18px;
    padding: 16px;
  }
}

@media screen and (max-width: 350px) {
  .flex-container {
    flex-direction: column;
    gap: 20px;
  }
  
}

h1 {
  color: rgb(0, 78, 130);
  text-align: center;
  
}

h2 {
  color: rgb(0, 78, 130);
  text-align: center;
}

p {
  font-size: 25px;
  text-align: center;
  color: rgb(0, 78, 130);
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

.box {
  background-color: rgb(0, 78, 130);
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(0, 54, 90);
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.4);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

.grid-item {
  background-color: rgb(0, 78, 130);
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 600;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.grid-item:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgb(0, 54, 90);
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.4);
}

footer {
    text-align: center;
    background-color: rgb(0, 78, 130);
    display: block;
    bottom: 0;
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.2);
    padding-left: 0px;
}