body {
  background-color: var(--background-color);
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

:root {
  --primary-color: rgb(0, 78, 130);
  --secondary-color: rgb(0, 54, 90);
  --header-color: rgb(0, 78, 130);
  --ui-text-color: rgb(255, 255, 255);
  --content-text-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
}

.dark-mode {
  --primary-color: rgb(0, 78, 130);
  --secondary-color: rgb(0, 54, 90);
  --header-color: rgb(255, 255, 255);
  --ui-text-color: rgb(255, 255, 255);
  --content-text-color: rgb(255, 255, 255);
  --background-color: rgb(60, 60, 60);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(0, 78, 130);
    --secondary-color: rgb(0, 54, 90);
    --header-color: rgb(255, 255, 255);
    --ui-text-color: rgb(255, 255, 255);
    --content-text-color: rgb(255, 255, 255);
    --background-color: rgb(60, 60, 60);
  }
}

@font-face {
  font-family: "Nunito";
  font-style: NORMAL; /* See note below */
  font-weight: 200 900; /* See note below */
  src: url(C:/prototyyppisivusto/styles/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

html {
  font-family: Nunito, sans-serif;
}

/* Perusnavigaatio */
.navbar {
  background-color: var(--primary-color);
  padding: 0;
  display: block;
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

/* Hamburger-painike */
.menu-btn {
  display: none;             /* Näkyy vain pienellä näytöllä */
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  width: inherit;
  text-align: left;
}

.menu-btn:hover {
  background-color: var(--secondary-color);
}

/* Horisontaalinen navigaatio */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav-links li {
  float: none;
}

.nav-links li a {
  display: block;
  font-weight: 400;
  padding: 14px 16px;
  color: var(--ui-text-color);
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-links li a:hover:not(.active) {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 601px) {
    .nav-links li a {
        padding: 16px 24px;
        font-size: 18px;
    }

    h1 {
      font-size: 50px;
      height: auto;
      margin-top: 100px;
    }

    h2 {
      font-size: 40px;
      height: auto;
    }

    footer {
        padding: 16px;
        font-size: 18px;
    }

    .content-text {
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      width: 50%;
      text-align: center;
    }
    
}

@media screen and (min-width: 1200px) {
    .nav-links li a {
        padding: 16px 34px;
        font-size: 18px;
    }

    footer {
        padding: 16px;
        font-size: 18px;
    }
    
}

.nav-links li a.active {
  background-color: var(--secondary-color);
}

/* Pieni näyttö */
@media screen and (max-width: 600px) {

  /* Hamburger näkyviin */
  .menu-btn {
    display: block;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 28px;
    font-weight: 700;
    padding: 10px;
    width: 57px;
    text-align: center;
    align-content: center;
  }

  /* Slide-down kontti */
  .nav-links {
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    /* Suljettu tila */
    max-height: 0;              
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    /* Riittävän suuri arvo, jotta kaikki mahtuvat */
    max-height: 500px;
  }

  /* Pystymallinen valikko */
  .nav-links li {
    float: none;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.3);
    font-size: 20px;
  }

  .nav-links li a {
    text-align: left;
    padding: 16px;
  }

  h1 {
    font-size: 35px;
    height: auto;
    margin-top: 60px;
  }

  h2 {
    font-size: 20px;
    height: auto;
  }

  footer {
    font-size: 18px;
    padding: 16px;
  }

  .content-text {
    font-size: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 350px) {
  .flex-container {
    flex-direction: column;
    gap: 20px;
  }
  
}

h1 {
  color: var(--header-color);
  text-align: center;
  font-weight: 800;
}

h2 {
  color: var(--header-color);
  text-align: center;
}

p {
  font-size: 25px;
  text-align: center;
  color: var(--content-text-color);
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

.box {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--ui-text-color);
  text-align: center;
  font-weight: 800;
  border-radius: 10px;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--secondary-color);
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.4);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

.grid-item {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--ui-text-color);
  text-align: center;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 800;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.grid-item:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: var(--secondary-color);
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.4);
}

.content-box {
  margin: 40px 0px 40px 0px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: rgba(170, 170, 170, 0.5);
}

.content-text {
  color: var(--content-text-color);
  
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    display: block;
    bottom: 0;
    color: var(--ui-text-color);
    position: fixed;
    width: 100%;
    box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.2);
    padding-left: 0px;
    font-weight: 700;
}